@model EntityLayer.Entities.Urun
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*  *@<!--<-->
@*link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "btn btn-danger" })
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" class="form-control" name="Ad" />
                        @Html.ValidationMessageFor(x => x.Ad, "", new { @style = "color:red" })
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Açıklama</label>
                        <input type="text" class="form-control" name="Aciklama" />
                        @Html.ValidationMessageFor(x => x.Aciklama, "", new { @style = "color:red" })
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Resim</label>
                        <input type="file" class="form-control" name="File" />
                        @Html.ValidationMessageFor(x => x.Resim, "", new { @style = "color:red" })
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Fiyat</label>
                        <input type="text" class="form-control" name="Ucret" />
                        @Html.ValidationMessageFor(x => x.Fiyat, "", new { @style = "color:red" })
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Stok</label>
                        <input type="text" class="form-control" name="Stok" />
                        @Html.ValidationMessageFor(x => x.Stok, "", new { @style = "color:red" })
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Popüler</label>
                        @Html.EditorFor(x => x.Populer)
                        @Html.ValidationMessageFor(x => x.Populer, "", new { @style = "color:red" })
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Onay</label>
                        @Html.EditorFor(x => x.Onaylimi)
                        @Html.ValidationMessageFor(x => x.Onaylimi, "", new { @style = "color:red" })
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Kategori</label>
                        @Html.DropDownListFor(x=>x.KategoriId,(List<SelectListItem>)ViewBag.ktgr,new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Populer, "", new { @style = "color:red" })
                    </div>
                    <br />

                    <button class="btn btn-primary" type="submit">Ekle</button>
                    <a href="~/AdminUrun/Index" class="btn btn-primary">Ürün Listesi</a>
                </form>
            </div>
        </div>
    </div>*@


<form method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label>Ad</label>
                    <input type="text" class="form-control" name="Ad" />
                    @Html.ValidationMessageFor(x => x.Ad, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <input type="text" class="form-control" name="Aciklama" />
                    @Html.ValidationMessageFor(x => x.Aciklama, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Resim, "Resim", htmlAttributes: new { @class = "control-label col-md-2" })
                    <input type="file" class="form-control" name="File" />
                    @Html.ValidationMessageFor(x => x.Resim, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    <label>Fiyat</label>
                    <input type="text" class="form-control" name="Fiyat" />
                    @Html.ValidationMessageFor(x => x.Fiyat, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    <label>Stok</label>
                    <input type="text" class="form-control" name="Stok" />
                    @Html.ValidationMessageFor(x => x.Stok, "", new { @style = "color:red" })
                </div>



                <div class="form-group">
                    @Html.LabelFor(x => x.Populer, "Popüler", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(x => x.Populer)
                    @Html.ValidationMessageFor(x => x.Populer, "", new { @style = "color:red" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Onaylimi, "Onay", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(x => x.Onaylimi)
                    @Html.ValidationMessageFor(x => x.Onaylimi, "", new { @style = "color:red" })

                </div>
                <div class="form-group">
                    <label>Kategori</label>

                    @Html.DropDownListFor(x => x.KategoriId, (List<SelectListItem>)ViewBag.ktgr, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.KategoriId, "", new { @style = "color:red" })
                </div>
                <button class="btn btn-primary" type="submit">Ekle</button>

                <a href="/AdminUrun/Index/" class="btn btn-success" style="margin-left:12px;">Ürün Listesi</a>

            </div>
        </div>
    </div>
</form>

