@model EntityLayer.Entities.Urun

@{
    ViewBag.Title = "UrunDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ürün Detay | E-Shopper</title>
    <link href="~/eshop/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/eshop/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/eshop/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/eshop/css/price-range.css" rel="stylesheet">
    <link href="~/eshop/css/animate.css" rel="stylesheet">
    <link href="~/eshop/css/main.css" rel="stylesheet">
    <link href="~/eshop/css/responsive.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/eshop/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/eshop/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/eshop/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="i~/eshop/mages/ico/apple-touch-icon-57-precomposed.png">

</head><!--/head-->

<body>
    <br />
    <br />
    <br />
    <br />

    <section>
        <div class="container">
            <div class="row">
                <br />
                <br />
                @Html.Action("KategoriList", "Kategori")

                <div class="col-sm-9 padding-right">
                    <div class="product-widget">
                        <!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                <br />
                                <br />
                                <img src="~/Content/Image/@Model.Resim" style="width:300px; height:240px; margin-top:20px" alt="@Model.Ad" />

                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="product-information">
                                <br />
                                <h2>Ürün Adı: @Model.Ad</h2>
                                <br>
                                <p><b>Fiyat:</b> @Model.Fiyat TL</p>
                                <p><b>Kategori:</b> @Model.Kategori.Ad</p>
                                <p><b>Stok:</b> @Model.Stok</p>
                                <p>
                                    <b>Popüler:</b>
                                    @if (Model.Populer == true)
                                    {
                                        <b style="color:lightgreen"> Evet </b>
                                    }
                                    else
                                    {
                                        <b style="color:red"> Hayır </b>
                                    }
                                </p>
                                <p>
                                    <b>Onay:</b>
                                    @if (Model.Populer == true)
                                    {
                                        <b style="color:lightgreen"> Evet </b>
                                    }
                                    else
                                    {
                                        <b style="color:red"> Hayır </b>
                                    }
                                </p>
                                <p><b>Açıklama:</b> @Model.Aciklama</p>

                                <span>
                                    <a class="btn btn-fefault cart" style="margin-top:-3.2px;margin-left:-10px" href="/Sepet/SepeteEkle/@Model.Id">
                                        <i class="fa fa-shopping-cart"></i>
                                        Sepete Ekle
                                    </a>
                                </span>

                                <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
                            </div><!--/product-information-->
                        </div>


                        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Yorum Yap
                        </button>-->

                        <!-- Modal -->
                        <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" action="/Urun/Yorum">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Yorum Yazınız</h5>

                                        </div>
                                        <div class="modal-body">
                                            <textarea class="form-control" name="Icerik" placeholder="Yorum Yazınız..."></textarea>
                                            <input type="hidden" name="UrunId" value="Model.Id" />
                                            <input type="hidden" name="KullaniciId" value="Session["userid"]" />
                                            <input type="hidden" name="Tarih" value="DateTime.Now" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                            <button type="submit" class="btn btn-primary">Gönder</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>-->

                        <hr />
                        <div class="row">
                            <div class="col-md-4 col-sm-4">



                                @*@foreach (var item in ViewBag.yorum)
                                    {
                                        <h4 style="color:coral">
                                            @item.Tarih  <br /> <br /> @item.Kullanici.Ad @item.Kullanici.Soyad
                                        </h4>
                                        <p>@item.Icerik </p>




                                        <a href="/Urun/YorumGet/@item.Id" class="btn btn-primary">Yorumumu Güncelle</a>



                                        <hr />



                                    }*@




                            </div>
                        </div>
                    </div>

                    @*@Html.Action("PopulerUruns", "Urun  ")*@

                </div>
            </div>
        </div>
    </section>

</body>
</html>